.background{
    height: 100vh;
    background-image: url('../images/wp2655106.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}